.contentBlock {
    padding: 20px 0;

    .thongKeSoLuong {
        color: #b00600;
        font-size: 17px;
        font-weight: 400;
    }

    .tableDanhMucThuTuc {

        .ant-table {
            border-radius: 0;
            border-collapse: initial !important;

            .ant-table-thead {
                th {
                    background-color: #ce7a58;
                    border-radius: 0 !important;
                    text-align: center;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 8px !important;
                    border: 1px solid #dfb6a5 !important;

                    &::before {
                        position: relative !important;
                    }
                }

            }

            .ant-table-tbody {
                tr {
                    &:hover {
                        background-color: #f5f5f5 !important;
                        transition: none !important;
                    }

                    td {

                        font-weight: 400;
                        cursor: pointer;
                        padding: 5px !important;
                        font-size: 16px;
                        border: 1px solid #dfb6a5 !important;
                        cursor: default;

                        .nopTrucTuyenButton {
                            cursor: pointer;
                            &:hover {
                                color: #ce7a58;
                            }
                        }

                        a {
                            color: #333;

                            &:hover {
                                color: #ce7a58;
                            }
                        }

                    }
                }



            }

        }

        table {
            border-collapse: collapse !important;
        }
    }
}

@media screen and (max-width: 1250px) {}

@media screen and (min-width: 700px) and (max-width: 1023px) {}

@media screen and (max-width: 700px) {
    .contentBlock {
        .thongKeSoLuong {
            font-size: 14px;

        }

        .tableDanhMucThuTuc {

            overflow-x: auto !important;

            table {
                min-width: 550px;

                th {
                    font-size: 13px !important;
                }

                td {
                    font-size: 13px !important;
                }


            }
        }
    }
}

@media screen and (max-width: 400px) {}