@import url("./components/collapse_content.scss");
@import url("./components/zoom_component.scss");
@import url("./components/spliter.scss");
@import url("./components/custom_formio.scss");
@import url("./components/context_menu.scss");
@import url("./components/custom_node_edge.scss");
@import url("./components/scroll.scss");

@import url("./../../../public/sass/style-custom.scss");
// @import url("./style-custom.scss");