.text-title {
    font-size: 16px;

    font-weight: 500;
}

.custom-table  {
   
}
.custom-table th {
    white-space: nowrap; /* Ngăn các nội dung quá dài tràn ra ngoài */
    text-align: center;
  }

  .custom-table th:nth-child(1),
  .custom-table td:nth-child(1) {
    width: 5%; /* Chiều rộng cột STT */
    text-align: center;
  }

  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    width: 20%; 
  }

  .custom-table th:nth-child(3),
  .custom-table td:nth-child(3) {
    width: 30%; 
  }
  .custom-table th:nth-child(4),
  .custom-table td:nth-child(4) {
    width: 30%; 
  }
  .custom-table td:nth-child(3) {
    color: #d7764f;
    cursor: pointer;
    text-align: center;
  }
  .custom-table th:nth-child(5),
  .custom-table td:nth-child(5) {
    width: 15%; 
    text-align: center;
  }