.thongTinCaNhan {
    margin-top: 50px;

    .container {
        width: 67.5%;
        margin: 15px auto;
    }
}

.dichVuCong {
    margin-top: 50px;

    .container {
        width: 67.5%;
        margin: 15px auto;
    }
}